@model IEnumerable<KutuphaneOtomasyonu.Models.Emanet>
@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Yeni Kayıt Oluştur</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kitap.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uye.AdSoyad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Silinecek Emin Misiniz')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
